@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Rubik+Puddles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Rubik+Puddles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Rubik+Puddles&family=Source+Code+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&family=Rubik+Puddles&family=Source+Code+Pro:wght@200&display=swap");
.catalogo img {
  width: 150px;
  margin: 5px;
  padding: 10px; }

.catalogo h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Rubik Puddles', cursive;
  font-family: 'Source Code Pro', monospace;
  font-weight: 600px; }

.main img {
  width: 300px; }

.main .banner {
  width: 1500px; }

.main h2 {
  text-align: center; }

.main .atrapasuenos {
  width: 1500px; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 1px;
  grid-auto-flow: row;
  grid-template-areas: "foto-1 foto-2 foto-3" "foto-4 foto-5 foto-6" ". . ."; }

.foto-1 {
  grid-area: foto-1; }

.foto-2 {
  grid-area: foto-2; }

.foto-3 {
  grid-area: foto-3; }

.foto-4 {
  grid-area: foto-4; }

.foto-5 {
  grid-area: foto-5; }

.foto-6 {
  grid-area: foto-6; }

.medio img {
  width: 400px; }

.medio p {
  width: 400px; }

.medio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center; }

.letra {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Rubik Puddles', cursive;
  font-family: 'Source Code Pro', monospace; }

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0; }

header {
  display: flex;
  align-items: center;
  flex-direction: column; }

header img {
  width: 300px;
  padding: 10px; }

header ul {
  list-style: none;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }

header li {
  padding: 10px; }

a {
  color: #d6ac79;
  text-decoration: none; }

h3 {
  font-family: 'Roboto Condensed', sans-serif; }

table {
  margin: 0px; }

main h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Rubik Puddles', cursive;
  font-family: 'Source Code Pro', monospace; }

footer h4 {
  text-align: center; }

footer ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }

table {
  border-top: 1px thin solid;
  border-bottom: 1px thin solid; }

table tr td {
  vertical-align: baseline;
  padding: 10px; }
